In [1]:
import numpy as np # linear algebra
import pandas as pd
import os

In [2]:
import os
for dirname, _, filenames in os.walk('C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/CPI-inflation-by-region-1914-202.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-price-rental.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/HPI 1981-2022 by regions.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/HPI 1981-2022 federal and provincial.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/income-distribution-2012-2020.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/Ontario morgage.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/population-by-region-1946-2022.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/population_dwellings_count.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/Structural-dwellings-household-size.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\abbotsford_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\alberta_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\barrie_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\brantford_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\british columbia_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\calgary_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\edmonton_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\gatineau_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\greater sudbury_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\guelph_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\halifax_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\hamilton_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\kingston_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\manitoba_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\moncton_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\montral_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\new brunswick_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\nova scotia_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\oshawa_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\ottawa_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\peterborough_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\prince edward_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\qubec cma_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\quebec_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\saguenay_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\saint john_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\saskatchewan_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\saskatoon_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\sherbrooke_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\thunder bay_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\vancouver_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\victoria_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\windsor_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/housing-supply-and-rental\winnipeg_section1_.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/Mortage and Interest rates csv\34100145.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/Mortage and Interest rates csv\Interest and mortgage rates(1951-2023).csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/Mortage and Interest rates csv\IRSTCB01CAM156N.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/Mortage and Interest rates csv\Mortgage and interest rate.csv
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/Mortage and Interest rates csv\Mortgage and Interest rate.ipynb
C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/Mortage and Interest rates csv\.ipynb_checkpoints\Mortgage and Interest rate-checkpoint.ipynb

In [3]:
# mortgage rate data, changed column names and dropped empty columns
mortgageData = pd.read_csv('C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/Mortage and Interest rates csv/34100145.csv')
mortgageData = mortgageData.drop(columns=['GEO', 'DGUID', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'])
mortgageData = mortgageData.rename(columns={'REF_DATE': 'Date', 'VALUE': 'Mortgage Rate'})

In [4]:
mortgageData.head()

       Date  Mortgage Rate
0  1/1/1961            7.0
1  2/1/1961            7.0
2  3/1/1961            7.0
3  4/1/1961            7.0
4  5/1/1961            7.0

In [5]:
# interest rate data, changed column names
interestData = pd.read_csv('C:/Users/Hiren/Desktop/ST.Clair/sem 4/402-Capstone/housing-affordability-in-canada/Mortage and Interest rates csv/IRSTCB01CAM156N.csv')
interestData = interestData.rename(columns={'DATE': 'Date', 'IRSTCB01CAM156N': 'Interest Rate'})

In [6]:
interestData.tail()

          Date  Interest Rate  Unnamed: 2  Unnamed: 3  Unnamed: 4
740   9/1/2022           2.46         NaN         NaN         NaN
741  10/1/2022           3.23         NaN         NaN         NaN
742  11/1/2022           3.73         NaN         NaN         NaN
743  12/1/2022           3.74         NaN         NaN         NaN
744   1/1/2023           4.26         NaN         NaN         NaN

In [7]:
# merged dataframes together and aligned by date
rates = pd.concat([mortgageData, interestData])
# trying to convert year data to integers to remove decimal values
#finalAllData['Year'] = finalAllData['Year'].dropna().astype(int)
rates = rates.reset_index(drop=True)
#finalAllData = finalAllData.rename(columns = {'Unnamed 0':'Year'})
aggFunc = {'Mortgage Rate': 'sum', 'Interest Rate': 'sum'}
rates = rates.groupby(rates['Date']).aggregate(aggFunc)
rates.head(7)

          Mortgage Rate  Interest Rate
Date
1/1/1961           7.00           3.47
1/1/1962           7.00           3.35
1/1/1963           7.00           4.00
1/1/1964           7.00           4.00
1/1/1965           6.90           4.25
1/1/1966           7.38           4.75
1/1/1967           7.93           5.25

In [11]:
rates.to_csv('out.csv', index=False)